.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 20px auto;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background: #fafafa;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.formInput, .formSelect {
  margin-top: 4px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  min-width: 25vw;
}


.btn {
  margin-top: 12px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #004B93;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background: #43a047;
}
